<% layout('/layouts/boilerplate') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <p>The page you're trying to find doesn't exists</p>
            <hr />
            <p class="mb-0">Check the URL again to see if you have a typo!</p>
        </div>
    </div>
</div>
