<% layout('/layouts/boilerplate') %>

<h2>Welcome <to class=""></to></h2>
<h1>Pro Smashers!</h1>
<img
    src="https://3wzg8qiyzny9y6bq30prqzvd-wpengine.netdna-ssl.com/wp-content/uploads/2016/05/janshim-badminton-jump-smash-large-2013-1.jpg"
    alt=""
/>
