<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add</title>
    </head>
    <body>
        <h1>Create a badminton court</h1>

        <form action="/badmintoncourts" method="POST">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="badmintoncourt[title]" />
            </div>

            <div>
                <label for="title">City</label>
                <input type="text" id="city" name="badmintoncourt[city]" />
            </div>
            <div>
                <label for="title">Country</label>
                <input
                    type="text"
                    id="country"
                    name="badmintoncourt[country]"
                />
            </div>
            <button>Submit</button>
        </form>

        <a href="/badmintoncourts">Back</a>
    </body>
</html>
