<% layout('layouts/boilerplate') %>

<h1>All Badminton Courts</h1>

<a href="/badmintoncourts/add">Add a new court</a>

<ul>
    <% for(let badmintoncourt of badmintoncourts) { %>
    <li>
        <a href="/badmintoncourts/<%= badmintoncourt._id %>"
            ><%= badmintoncourt.title %></a
        >
    </li>
    <% } %>
</ul>
