<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Show</title>
    </head>
    <body>
        <h1><%= badmintoncourt.title %></h1>
        <h3><%= badmintoncourt.city %>, <%= badmintoncourt.country %></h3>

        <a href="/badmintoncourts">Show all courts</a>
        <footer>
            <a href="/badmintoncourts/<%= badmintoncourt._id %>/edit ">Edit</a>
            <a href="">Delete</a>
        </footer>
    </body>
</html>
